[Unit]
Description=Run the peer doctor check every hour

[Timer]
OnCalendar=*-*-* *:52:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
